[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
"autopep8" = "*"
setuptools = "*"
twine = "*"
wheel = "*"
jlv = "*"

[requires]
python_version = "3.7"

[scripts]
test = "python -m unittest -v jlv/test.py"
format = "autopep8 -irvaa ."
package = "python3 setup.py sdist bdist_wheel"
twine = "twine upload dist/*"
jlv = "jlv --log=INFO"
triggerTravisPypiPackageUpdate = "git push --tags"
